body {
    margin: 0;
    font-family: sans-serif;
}
body, div {
    box-sizing: border-box;
}
.grid {
    display: grid;
    grid-template-columns:repeat (auto-fill, minmax(250px 1fr));
    grid-auto-rows: 1fr;
    grid-auto-flow: dense;
    grid-auto-columns: 1fr;
    margin: auto;
    gap: 20px;
    padding: 20px;
    border: 2px solid gray;
}
.grid-item {
    background-color: #48e;
    font-size: 30px;
    color: #fff;
    border-radius: 16px;
    max-width: 100%;
}
.grid-item:hover {
    opacity: 0.7;
}
.grid-item:first-child {
    grid-column: 1/span 3;
    grid-row: 1/span 2;
}
.grid-item:nth-child(9) {
    grid-column: span 2;
    grid-row: span 2;
}